logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

nodemodules/.cache
nodemodules/.cache/default-development/*.pack
node_modules/.bin
node_modules
backend/__pycache

dist
dist-ssr
.local

Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?