:root {
  --bg-color: black;
}
audio {
  display: none !important;
}
body {
  background-color: var(--bg-color);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: purple;  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.jersey{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}